<header>
  <a href="https://all-projects-portfolio.web.app/" target="_blank" class="logo">
    <img class="logo-img" src="./assets/logo.svg" />
    <div class="logo-txt">
      <h1>FLAVIA</h1>
      <span>Kosti</span>
    </div>
  </a>
</header>
<main>
  <article class="temperatures">
    <header>
      <img src="./assets/temp-icon.png" alt="Thermometer icon" />
      <div>
        <h2>Current Temperatures</h2>
        <p>{{ currentDate | date:'medium' }}</p>
      </div>
    </header>
    <p>New York: {{ currentTemperatures.newYork | temp:'cel':'fah' }}</p>
    <p>Berlin: {{ currentTemperatures.berlin | temp:'cel' }}</p>
    <p>Paris: {{ currentTemperatures.paris | temp:'fah':'cel' }}</p>
    <p>Chicago: {{ currentTemperatures.chicago | temp:'fah' }}</p>
  </article>

  <article class="temperatures">
    <header>
      <img src="./assets/temp-icon.png" alt="Thermometer icon" />
      <div>
        <h2>Historic Temperatures</h2>
        <p>Berlin</p>
      </div>
    </header>
    <ul>
      @for (temperature of historicTemperatures; track temperature) {
      <li (click)="onReset($index)">{{ temperature | temp:'cel' }}</li>
      }
    </ul>
  </article>
</main>