<a href="https://all-projects-portfolio.web.app/" target="_blank">
  <img class="logo-img" src="./assets/logo.svg" />
</a>
<main>
  <article class="temperatures">
    <header>
      <img src="./assets/temp-icon.png" alt="Thermometer icon" />
      <div>
        <h2>Current Temperatures</h2>
        <p>{{ currentDate | date:'medium' }}</p>
      </div>
    </header>
    <div class="item">
      <strong>City</strong>
      <p class="details">
        <strong>Before</strong>
        <strong> After</strong>
      </p>
    </div>
    @for (item of currentTemperatures | keyvalue; track item.key) {
    <div class="item">
      <span>{{item.key}}</span>
      <p class="details">
        <span>{{item.value }}</span>
        <span> {{ item.value | temp:'cel':'fah' }}</span>
      </p>
    </div>
    }
  </article>

  <article class="temperatures">
    <header>
      <img src="./assets/temp-icon.png" alt="Thermometer icon" />
      <div>
        <h2>Historic Temperatures</h2>
        <p>Berlin</p>
      </div>
    </header>
    <ul>
      @for (temperature of historicTemperatures; track temperature) {
      <li (click)="onReset($index)">
        <span>{{ temperature }}</span>
        <span>{{ temperature | temp:'cel' }}</span>
      </li>
      }
    </ul>
  </article>
</main>